!= "<!DOCTYPE HTML>"
!= "<html>"

!= "<head>"
!= "	<title>Contacts</title>"
!= "	<link rel=stylesheet href=/stylesheets/home.css>"
!= "	<script src=/javascripts/jquery-1.11.2.js type=application/javascript></script>"
!= "	<script src=/javascripts/home.js type=application/javascript></script>"
!= "</head>"

!= "<body onload=loadList()>"
	
!= "	<div id=header><h1>Contacts</h1><span id=msg></span></div>"

!= "	<div id=contactList><h3>Contacts List</h3> "
!= "		<div id=listings></div>"
!= "	</div>"

!= "	<div id=selectedContact><h3>Selected Contact</h3>"
!= "		<div id=contact></div>"
!= "	</div>"

!= "	<div id=footer>spartasys contacts manager v0.0.1</div>"

!= "</body>"

!= "</html>"

